<% provide(:title, "Contact") %>
  <div class="nine columns">
      <div class="content">
        <h4 class="basicheader">Contact</h4>
        <p>
          Monterey Bay Meditation Studio: <a href="mailto:info@montereybaymeditation.com">info@montereybaymeditation.com</a><br /><br />
          Katie Dutcher: <a href="mailto:katie@montereybaymeditation.com">katie@montereybaymeditation.com</a><br /><br />
          Marianne Rowe: <a href="mailto:marianne@montereybaymeditation.com">marianne@montereybaymeditation.com</a> <br /><br />
          Office Phone: <a href="tel:831-373-1017">(831) 373-1017</a>
        </p>
        <p>
          <a href="https://www.facebook.com/montereybaymeditation/" target="_blank">Facebook</a><br />
          <a href="https://www.instagram.com/montereybaymeditation/" target="_blank">Instagram</a>
        </p>
        <p>
          Located in Pacific Grove, California, at 529 Central Avenue, Suite 201A
          <%= image_tag("mbms-map.png", alt: "Map to Monterey Bay Meditation Studio", class: "map") %>
          <!--<img src="images/mbms-map.png" class="map"></img>--><br />
          Street parking of 2 to 3 hours is available as posted on Central Avenue and the surrounding blocks. There is also limited 2-hour parking available in the lot behind the building.
        </p>
        <p>
          We’re interested in your ideas! <br />
          Would you like Marianne and Katie to create a workshop, retreat, or course for you or your group/team? <br />
          Would you like to suggest a new offering or collaborate with us to create it? <br />
          Are you a like-minded individual wanting to teach in The Studio? <br />
          We’d love to hear from you! <br />
          Email us at <a href="mailto:info@montereybaymeditation.com">info@montereybaymeditation.com</a> with your ideas and suggestions.<br /><br />

          And remember to join our <a href="https://docs.google.com/forms/d/1ncIH_9dolnpjzPuzzSyPuPw0Cd8zY0L5o1O8KoAhJrs/viewform" target="_none">Mailing List</a> to receive updates and announcements!
        </p>
      </div>
    </div>
