<% provide(:title, "Contact") %>
  <div class="nine columns">
      <div class="content">
        <% if @page.present? %>
          <%= raw @page.page_content %>
        <% end %>
      </div>
    </div>
