<% provide(:title, "Give a Gift") %>
  <div class="nine columns">
      <div class="content">
        <h1>Give a Gift!</h1>
          <%= image_tag("gifts-crop.jpg", alt: "Give a gift") %>

            <h2>Gift your friends, your family, or yourself with opportunities to cultivate
            mindful awareness and compassion.</h2>
          <p>
            We feel grateful to have the opportunity to learn
            about mindfulness	and compassion, and we imagine that you do, too! This change
            in perspective really is a gift that continues to flower throughout our lives.
          </p>
          <p>
            If you're wanting to offer a loved one (or your own beloved self!) a gift
            which fosters the development of mindful awareness, please consider these
            offerings. While most of these are best for residents on the Monterey Peninsula,
            we do have a few offerings that can "travel" and be offered to anyone in the world!
          </p>
          <p>
            Please take a look at the offerings and the order form below, and don't hesitate
            to <a href="mailto:info@montereybaymeditation.com">contact us</a> if you have any questions!
          </p>

          <a href="https://docs.google.com/forms/d/e/1FAIpQLSds6WGJ23dGcmifItINZGQSZrGvI-iOrAZRsTsgnVgZWl_DdA/viewform">
            <h1>Order Gifts Here</h1>
          </a>

          <h4>Gift List</h4>

          <h2>Mindful Moments Card Deck</h2>
            <p>$20 Beautiful and durable, full-color deck of 31 mindful awareness reminders.
              Select one for each day of the month and display it where you'll see it, to foster
              informal mindfulness practice of daily activities. Cards are presented in a gift
              bag and set includes a mini-easel for display.
            </p>

          <h2>Private Sessions</h2>
            <p>$100 Private Meditation Session: 45 minute session with Marianne or Katie, scheduled
              at your convenience. (Options: recipient may select a customized topic and bring up
              to 4 additional participants)
            </p>

            <p>$200 Coaching Sessions: Set of four 45-minute coaching sessions with Katie Dutcher via
              phone or Skype (or in person in Pacific Grove). Through discussion and individualized
              guided meditation, we'll work on bringing mindfulness into daily life in a way that is
              practical and beneficial.
            </p>

          <h2>MBMS Community Memberships</h2>
            <p>$250 Member: Unlimited drop-ins for all of 2017</p>
            <p>$400 Supporter: Unlimited drop-ins and 25% off all courses/half-day/day-long retreats for all of 2017</p>
            <p>$750 Benefactor: Unlimited drop-ins for all of 2017, one private meditation session,
              four courses/retreats (excludes multi-day retreats) </p>

          <h2>Drop-Ins</h2>
            <p>$20 Drop-In Card: Punch-card for four 30-minute drop-in sessions</p>
            <p>$50 Drop-In Card: Punch-card for eleven 30-minute drop-in sessions</p>

          <h2>Courses</h2>
            <p>$135 Studio Bucks: Good for any 4-week course or as credit toward a longer offering
            <p>$135 Studio Scholarship: An opportunity to donate a course or retreat to a future person who would benefit from one of our offerings but is not able to afford the tuition. We keep careful record of donations and we award scholarships on a first come, first serve basis. You will receive a receipt for your donation via email.

      </div>
    </div>
