<% provide(:title, "Home") %>
<div class="nine columns">
	<div class="content">

    <h4 class="basicheader">Welcome to Monterey Bay Meditation Studio</h4>

    <div class="sub-header">What We Offer</div>
    <p>
      We offer opportunities to develop, sustain, and deepen
      your meditation practice while helping to create a diverse
      and supportive community of people interested in being, learning, and evolving.
    </p>
    <p>
      With an eye on providing a safe, comfortable environment
      for practice, growth, and community, we at Monterey Bay
      Meditation Studio are committed to making mindfulness and
      compassion both accessible and relevant. With an intention
      of cultivating awareness and kindness as way of being in the world,
      we offer a variety of classes, workshops and retreats based on secular
      teaching, ancient wisdom, and current application.
    </p>
    <p>
      In addition to guided and silent sittings, we provide opportunities for
      awakening the senses through creativity, opening the heart through
      relationship, and developing community through shared exploration and evolution.
    </p>

    <div class="sub-header">Who We Serve</div>
    <p>
      Our aim is to provide a safe harbor to support practitioners
      in beginning, sustaining, and deepening their practice.
    </p>
    <p>
      For those who are new to meditation, mindfulness, and other
      contemplative practices, we provide a soft landing with regularly scheduled meditations and classes.
    </p>
    <p>
      For those who are interested in refreshing and re-energizing
      their practice, we offer a supportive community dedicated to exploring and discovering together.
    </p>
    <p>
      For those with an established practice, we offer space
      for stillness, for investigating new types of practice,
      and for discussion in service of deepening our wisdom and awareness.
    </p>
    <div class="sub-header">How to Participate</div>

    <div class="sub-sub-header">Weekly Drop-in Practice Sessions</div>
    <p>
      Pausing to meditate with a group, even for just 30 minutes,
      can support and refresh your practice. Each week, we provide
      opportunities to engage in silent and guided meditation,
      as well as movement practice in a safe, comfortable environment.
      Our goal is to offer opportunities to practice that are conveniently
      scheduled, low-cost, and approachable. There is no pre-registration
      required for drop-in practice sessions-- just show up and be present!
    </p>

    <div class="sub-sub-header">Courses, Workshops, & Retreats</div>
    <p>
      Investing time in learning and practicing helps develop a solid
      foundation for cultivating awareness and engagement.
      We offer unique day-long and multi-session courses, workshops,
      and retreats which help build community, deepen experience, and
      explore topics related to mindfulness, daily life, and contemplation.
      Advance registration is required for these events.
      (Link to calendar with pre-register filter?)
    </p>

    <i>May these offerings be of benefit to everyone involved and to all the lives they touch.</i>

	</div>
</div>
