<% provide(:title, "Thank You") %>
<div class="nine columns">
	<div class="content">
		
		<h1>Thank you for signing up</h1>
		<p>
      Thank you for signing up! Please make sure to check your "spam" folder
      and add <a href="mailto:info@montereybaymeditation.com">info@montereybaymeditation.com</a> to your contact list so that
      you'll be sure to receive our emails.
		</p>
		<p>
			Marianne & Katie<br>
			Monterey Bay Meditation Studio
		</p>
	</div>
</div>
