<% provide(:title, "Personal Practice and Coaching") %>
<div class="nine columns">
	<div class="content">
		

    <h1>Personal Practice and Coaching</h1>

    <p>
      We offer individualized instruction, practice, and mindfulness coaching
      for those who would benefit from a one-on-one environment or who would
      like a session or program designed for their specific group. We love
      designing practice and instruction that is especially suited for you!
    </p>

    <h2>Personal Mindfulness Coaching with Katie Dutcher</h2>
    <p>
      Katie offers personal coaching sessions to foster development in specific
      areas. Coaching incorporates support, practice, reflection, and discussion,
      and tailored to the client's needs. Read more and set up a free consulting
      session at <a href="https://weflourishandbloom.wordpress.com/personal-mindfulness-coaching/">Flourish & Bloom</a>.
    </p>

    <h2>Private Meditation & Instruction</h2>
    <p>
      Katie and Marianne offer private meditation and instruction to individuals,
      couples, and small groups. On vacation on the Peninsula and would like to
      book in some time for stillness and reflection? Looking for a new way to
      build your relationship as a couple? Simply wanting your own time to practice
      and to ask all the questions about meditation that you've been afraid to ask?
      There are many reasons to seek private meditation and instruction! Send an
      inquiry using <a href="https://docs.google.com/forms/d/1Ab8KMR_jgWA4VosdNdokl6EX29pdgaRolUWDfVFJUwU/edit?usp=drive_web">this form</a>,
      and we'll contact you to design and schedule your session.
    </p>

    <h2>Private Meditation & Instruction</h2>
    <p>
      We offer specially-crafted workshops and trainings for groups who are interested
      in incorporating mindfulness into their culture. Tailored curricula supports
      corporate and civic groups, educators, administrators, and others in incorporating
      the concepts and vocabulary of compassion and awareness into their work and relationships
      as a group. Send an inquiry using <a href="https://docs.google.com/forms/d/1wTjSqPHOlE93EqS5w7xKYhWBeOzetD2xWET6rKJfNaM/edit">this form</a>,
      and we'll contact you to discuss the needs of your group.
    </p>

    <div class="bottom-box">
      Individualized sessions can create a wonderful foundation
      of support and refreshment for your practice
      Planned around your schedule
      Designed to fit you and your intentions
    </div>

  </div>
</div>
