<% provide(:title, "Teachers") %>
<div class="nine columns">
<div class="content">
	<h4 class="basicheader">Teachers</h4>

  <h5 class="sub-header">Marianne Rowe<span class="instructor-credentials"> MS, LMFT</span> </h5>
  <a href="mailto:marianne@montereybaymeditation.com">marianne@montereybaymeditation.com</a>
  <%= image_tag("marianne.jpg", alt: "Marianne Rowe", class: "photo-box") %>
  <p>
    Marianne Rowe has been studying and practicing meditation since 1996. As founder of the Mindful Education Project, she has been teaching mindfulness to children, youth, and adults since 2007. Marianne also teaches courses in mindful relating and facilitates retreats to develop mindful awareness as an essential part of the creative process. In private practice as a Marriage and Family Therapist since 1986, Marianne focuses on healing, transformation and evolution through awareness and connection. Her therapeutic work incorporates developing consciousness of and integrating the physiological, cognitive, emotional, relational and spiritual aspects of being.
  </p>

  <h5 class="sub-header">Katie Dutcher<span class="instructor-credentials"> MA</span> </h5>
  <a href="mailto:katie@montereybaymeditation.com">katie@montereybaymeditation.com</a>
  <%= image_tag("katie.jpg", alt: "Katie Dutcher", class: "photo-box") %>
  <p>
    Katie Dutcher has been an educator since 2004 and has studied and practiced meditation and mindfulness since 2009. She is a Qualified Teacher of Mindfulness-Based Stress Reduction (MBSR) through the Center for Mindfulness, and she has received training from Mindful Schools. She teaches mindfulness in area schools from elementary through graduate level, and she teaches MBSR at the Community Hospital of the Monterey Peninsula. She has special interests in reflective writing, practicing mindfulness in daily life, and awareness of the natural environment.
  </p>

  </div>
</div>
