<% provide(:title, "Teachers") %>
<div class="nine columns">
<div class="content">

	<!-- <%= raw @page.page_content %> -->

	<h1>Co-Founders</h1>

  <h2>Marianne Rowe<span class="instructor-credentials"> MS, LMFT</span> </h2>
  <a href="mailto:marianne@montereybaymeditation.com">marianne@montereybaymeditation.com</a>
  <%= image_tag("marianne.jpg", alt: "Marianne Rowe", class: "photo-box") %>
  <p>
    Marianne Rowe has been studying and practicing meditation since 1996.
		As founder of the Mindful Education Project, she has been teaching mindfulness
		to children, youth, and adults since 2007. Marianne also teaches courses in
		mindful relating and facilitates retreats to develop mindful awareness as an
		essential part of the creative process. In private practice as a Marriage and
		Family Therapist since 1986, Marianne focuses on healing, transformation and
		evolution through awareness and connection. Her therapeutic work incorporates
		developing consciousness of and integrating the physiological, cognitive, emotional,
		relational and spiritual aspects of being.
  </p>

  <h2>Katie Dutcher<span class="instructor-credentials"> MA</span> </h2>
  <a href="mailto:katie@montereybaymeditation.com">katie@montereybaymeditation.com</a>
  <%= image_tag("katie.jpg", alt: "Katie Dutcher", class: "photo-box") %>
  <p>
    Katie Dutcher has been an educator since 2004 and has studied and practiced
		meditation and mindfulness since 2009. She is a Qualified Teacher of
		Mindfulness-Based Stress Reduction (MBSR) through the Center for Mindfulness,
		and she has received training from Mindful Schools. She teaches mindfulness in
		area schools from elementary through graduate level, and she teaches MBSR at
		the Community Hospital of the Monterey Peninsula. She has special interests in
		reflective writing, practicing mindfulness in daily life, and awareness of the
		natural environment. Katie writes about mindfulness and offers personal mindfulness
		coaching at <a href="http://katidutcher.com">katiedutcher.com</a>
  </p>

	<h1>Teacher</h1>
	<h2>Jennifer Edwards<span class="instructor-credentials"> MA</span> </h2>
  <a href="mailto:jennifer@jenniferlpcc.com">jennifer@jenniferlpcc.com</a>
  <%= image_tag("jennifer.jpg", alt: "Jennifer Edwards", class: "photo-box") %>
  <p>
 			Jennifer Edwards is a dance/movement
		therapist, licensed professional clinical counselor (LPCC #2700) and
		shamanic healer currently in <a href="http://www.jenniferlpcc.com/">private practice</a>.
		Jennifer believes the
		development of body awareness is essential to deepening personal
		insight and growth. Because of this, all of her offerings incorporate
		mindful body movement and/or body awareness practices. Prior to
		launching her private practice, Jennifer spent seven years working
		as a dance/movement therapist and counselor for a residential
		treatment center for people suffering from eating disorders. She
		held multiple roles at this facility, the last of which was Clinical
		Director. Jennifer has studied with renowned Shaman Jon
		Rasmussen, teacher and graduate of the Healing the Light Body
		School through The Four Winds. Currently, Jennifer offers individual
		and group services, as well as periodic workshops and retreats.
		Jennifer also lectures nationwide on incorporating movement and
		shamanic ritual into psychotherapy. Lastly, Jennifer writes a blog
		called <a href="http://www.jenniferlpcc.com/body-speaks-blog">Body Speaks</a>
		that is focused on educating about the wisdom,
		power and resiliency of the body.
	</p>

  </div>
</div>
