<% provide(:title, "Thank You") %>
<div class="nine columns">
	<div class="content">
		<h1>Thank you for registering</h1>
		<p>
			We're looking forward to seeing you and practicing together! You'll be hearing from us soon with payment info and more details.
		</p>
		<p>
			Marianne & Katie<br>
			Monterey Bay Meditation Studio
		</p>
	</div>
</div>
