<h1>New Student</h1>

<% if !session[:class_title]%>
  <p>no class set, please choose a <%= link_to 'class', classes_path %> first</p>
<% else %>
  <h1><%= session[:class_title] %></h1>

  <%= render 'form', student: @student %>

  <%= link_to 'Back', students_path %>
<% end %>
