<% provide(:title, "ADMIN") %>

<div class="twelve columns">
  <div class="content">

      <% if current_page?(admin_path) %>
        <center>
          <%= link_to image_tag("text.png", alt: "Monterey Bay Meditation Studio logo", width: "500"),
        root_path  %>

        <br>

        <a href="#classes">Classes</a> | <a href="#schedule">Schedule</a> | <a href="#sidebar">Sidebar</a> | <a href="#mailing-list">Mailing List</a>

        </center>

        <hr>

      <% end %>
  </div>
</div>
