<% provide(:title, "Edit Class") %>
  <div class="nine columns">
    <div class="content">
      <h4 class="basicheader">Edit: "<%= @class_page.class_title %>"</h4>
      <%= render 'form', class_page: @class_page %>

      <%= link_to 'Show', @class_page %> |
      <%= link_to 'Back', class_pages_path %>
    </div>
  </div>
