<% provide(:title, "Classes") %>

<div class="two columns" id="class-page-full-view">
  <%= render 'layouts/sidebar_classes' %>
</div>

<div class="seven columns">
  <div class="content">
    <% if @page.present? %>
			<%= raw @page.page_content %>
		<% end %>
  </div>
</div>

<div class="two columns" id="class-page-mobile-view">
  <%= render 'layouts/sidebar_classes' %>
</div>
