  

    <div class="two columns">
      <%= render 'layouts/sidebar_classes' %>
    </div>

    <div class="seven columns">
      <div class="content">
        <h4 class="basicheader">Our Offerings</h4>

        <%= link_to 'New Class Page', new_class_page_path %>

          <div class="sub-header">General Class Info</div>
            <p>
              The Studio provides opportunities to meet yourself and others in a unique, mindful, and compassionate way.<br />
              <br />
              Doors open 10 minutes before the start time. Please arrive a few minutes early to settle in.<br />
              <br />
              For any event designated as “drop-in,” there is no need to pre-register-- simply take note of an event on the calendar and attend!
              <br /><br />
              Courses, workshops, and retreats may be held at the studio or at another location in the community according to the needs of the event and size of the group.
              <br /><br />
              Browse classes from the menu to the left
              <br /><br />
              Click on a class for more info
              <br /><br />
              To view classes by day and time, see the <a href="../schedule.php">Schedule</a>
            </p>
            <div class="sub-sub-header"><a href="http://montereybaymeditation.com/personal-practice-coaching.php">Personal Practice & Coaching</a></div>
            <p>
              We offer individualized instruction, practice, and mindfulness coaching for those who would benefit from a one-on-one environment or who would like a session or program designed for their specific group. We are happy to discuss your needs.
            </p>




      </div>
    </div>
