<% provide(:title, "New Class") %>
  <div class="nine columns">
    <div class="content">
      <h1>New Class</h1>



      <%= render 'form', class_page: @class_page %>

      <%= link_to 'Back', class_pages_path %>
    </div>
  </div>
