<% provide(:title, "Schedule") %>

  <div class="nine columns">
    <div class="content">
      <h1>Schedule</h1>

        <p><small>
          Please note: all classes with&nbsp;<span class="star">*</span>&nbsp;
          require pre-registration<br />
          Click the link for more information</small></p>



      <%= month_calendar events: @class_pages do |date, class_pages| %>
        <span class="day-num"><%= date.day %></span>

        <% class_pages.each do |class_page| %>
          <%= class_page.class_title %>
        <% end %>

      <% end %>





      <% @class_pages.each do |class_page| %>
        <ul>
          <li>
            <%= link_to "#{class_page.class_title}", class_page  %>
          </li>
        </ul>
      <% end %>

    </div>
  </div>
