<% @announcements.each do |a| %>
  <div class="sidebar-panel">
    <div class="basicheader"><%= a.title %></div>

      <p><%= image_tag a.image.url, class: "announcement-image" %></p>
      <p><%= a.content %></p>

      <%= link_to 'Edit', edit_announcement_path(a) %>

  </div>
<% end %>
