<% @announcements.each do |a| %>
  <div class="sidebar-panel">
    <h1><%= a.title %></h1>

      <p><%= image_tag a.image.url, class: "announcement-image" %></p>
      <p><a href="<%= a.url %>"><%= a.content %></a></p>

  </div>
<% end %>
