<% @announcements.each do |a| %>
  <div class="sidebar-panel">
    <h1><%= a.title %></h1>

      <%= image_tag a.image.url, class: "announcement-image" %><br>
      <a href="<%= a.url %>"><%= a.content %></a>
      

  </div>
<% end %>
