<div class="sidebar-panel">
  <h4 class="basicheader">Connect</h4>
  
  <div class="social">
    <%= link_to image_tag("fb-new.png", alt: "Facebook logo", width: '34'),
    "https://www.facebook.com/montereybaymeditation/", target: "_blank" %>
    <%= link_to image_tag("insta-new.png", alt: "Instagram logo", width: '34'),
    "https://www.instagram.com/montereybaymeditation/", target: "_blank" %>
    <!--<a href="https://www.facebook.com/montereybaymeditation/" target="_blank"><img src="images/fb-new.png" style="width: 34px"></img></a>
    <a href="https://www.instagram.com/montereybaymeditation/" target="_blank"><img src="images/insta-new.png" style="width: 34px"></img></a>-->
  </div>
    Join our
    
      <a href="https://docs.google.com/forms/d/1ncIH_9dolnpjzPuzzSyPuPw0Cd8zY0L5o1O8KoAhJrs/viewform" class="sub-sub-header" target="_blank">Mailing List</a> 
   
</div>