
<div class="sidebar-panel">
  <h1>This Week</h1>

  <% @classes.each do |class_page| %>
    <ul>
      <li>
        <%= link_to "#{class_page.class_title}", class_page  %> | <small><%= class_page.start_time.strftime("%l:%M %p") %></small>
      </li>
    </ul>
  <% end %>

</div>
