<div class="sidebar-panel">
  <h4 class="basicheader">This Week</h4>

  <% @class_pages.each do |class_page| %>
    <ul>
      <li>
        <%= link_to "#{class_page.class_title}", class_page  %>
      </li>
    </ul>
  <% end %>

</div>
