<% provide(:title, @basic_page.page_title) %>
<div class="nine columns">
  <div class="content">
    <%= raw @basic_page.page_content %>

    <%= link_to 'Edit', edit_basic_page_path(@basic_page) %> |
    <%= link_to 'Back', basic_pages_path %>

  </div>
</div>
