<div class="subnav">
  <h4 class="basicheader">Offerings</h4>
  <% @class_pages.each do |class_page| %>
    <ul>
      <li>
        <%= link_to "#{class_page.class_title}", class_page  %>

      </li>
    </ul>
  <% end %>
</div>
